In [8]:
import os
path = 'C:\\Users\\ualbertin\\Documents\\Springboard\\SQLFilesTier1'
os.chdir(path) 
os.listdir()

['LocalSQLConnection.py', 'sqlite_db_pythonsqlite.db', 'SQLTasks Tier 1.sql']

In [9]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    """ Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! """

    query1 = """
       SELECT Facilities.name, 
        CASE Members.memid 
           WHEN '0' 
           THEN Bookings.slots * Facilities.guestcost 
           ELSE Bookings.slots * Facilities.membercost
           END AS Revenue
       FROM Bookings
       INNER JOIN Members ON Bookings.memid=Members.memid 
       INNER JOIN Facilities ON Bookings.facid = Facilities.facid
       GROUP BY Bookings.facid HAVING Revenue < 1000
       ORDER BY Revenue 

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 0)
('Table Tennis', 0)
('Snooker Table', 0)
('Pool Table', 0)
('Tennis Court 1', 15)
('Massage Room 1', 19.8)
('Squash Court', 35.0)
('Tennis Court 2', 75)
('Massage Room 2', 160)

In [10]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    """ /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */ """

    query1 = """
       SELECT m1.surname ||", " || m1.firstname AS 'Name', 
       m2.surname ||", " || m2.firstname AS 'RName'
       FROM Members m1 
       INNER JOIN Members m2 on m1.recommendedby = m2.memid
       ORDER BY Name;

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [64]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    """ /* Q12: Find the facilities with their usage by member, but not guests */ """

    query1 = """
       SELECT name,
           CASE  
           WHEN Bookings.memid != '0' 
               THEN  SUM(slots)
           END
            FROM Bookings
            INNER JOIN Facilities ON Bookings.facid=Facilities.facid
            GROUP BY name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 1209)
('Massage Room 1', 1404)
('Massage Room 2', None)
('Pool Table', 910)
('Snooker Table', 908)
('Squash Court', None)
('Table Tennis', 830)
('Tennis Court 1', 1320)
('Tennis Court 2', None)

In [69]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    """ /* Q13: Find the facilities usage by month, but not guests  */ """

    query1 = """
       SELECT name, strftime("%Y-%m", starttime) as 'month',
           CASE  
           WHEN Bookings.memid != '0' 
               THEN  SUM(slots)
           END
            FROM Bookings
            INNER JOIN Facilities ON Bookings.facid=Facilities.facid
            GROUP BY name, month;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '2012-07', 180)
('Badminton Court', '2012-08', 459)
('Badminton Court', '2012-09', 570)
('Massage Room 1', '2012-07', 264)
('Massage Room 1', '2012-08', 492)
('Massage Room 1', '2012-09', 648)
('Massage Room 2', '2012-07', None)
('Massage Room 2', '2012-08', 82)
('Massage Room 2', '2012-09', None)
('Pool Table', '2012-07', 117)
('Pool Table', '2012-08', 322)
('Pool Table', '2012-09', 471)
('Snooker Table', '2012-07', 156)
('Snooker Table', '2012-08', 326)
('Snooker Table', '2012-09', 426)
('Squash Court', '2012-07', None)
('Squash Court', '2012-08', None)
('Squash Court', '2012-09', None)
('Table Tennis', '2012-07', 104)
('Table Tennis', '2012-08', 304)
('Table Tennis', '2012-09', 422)
('Tennis Court 1', '2012-07', 270)
('Tennis Court 1', '2012-08', 459)
('Tennis Court 1', '2012-09', None)
('Tennis Court 2', '2012-07', None)
('Tennis Court 2', '2012-08', 483)
('Tennis Court 2', '2012-09', None)